image: maven:3.3.9-jdk-8

stages:
  - build
  - test

cache:
  key: ${CI_BUILD_NAME}
  paths:
  - rates-backend/
  - rates-web/
  
build:
  stage: build
  script:
    - "cd rates-backend"
    - "mvn clean package -B -Dmaven.test.skip=true"
    - "cd .."
    - "cd rates-web"
    - "mvn clean package -U assembly:assembly -DdescriptorId=../rates-backend/target/rates-backend-1.0-SNAPSHOT.jar -Dmaven.test.skip=true"
  artifacts:
      paths:
        - "rates-backend/target/rates-backend-1.0-SNAPSHOT.jar"
  allow_failure: false

test:
  stage: test
  script:
    #- "mvn org.jacoco:jacoco-maven-plugin:prepare-agent install -Pcoverage-per-test -B"
    - ls -al
  allow_failure: false
