image: docker:latest

stages:
  - build
  - deploy
  - deliver

services:
  - docker:dind
  - mysql:latest
  
cache:
  key: ${CI_BUILD_NAME}
  paths:
   - rates-backend/
   - rates-web/

mysql_build:
  stage: build
  variables:
    MYSQL_DATABASE: rates
    MYSQL_ROOT_PASSWORD: root   
  services:
  - mysql:latest
  image: mysql
  before_script:
  - mysql --version
  script:
  - echo "SELECT 'OK';" | mysql --user=root --password="${MYSQL_ROOT_PASSWORD}" --host=mysql "${MYSQL_DATABASE}"
  - mysql --user=root --password="${MYSQL_ROOT_PASSWORD}" --host=mysql rates < db/rates_db.sql

maven-build:
  image: maven:3.3.9-jdk-8
  stage: deploy 
  dependencies:
   - mysql_build
  script:    
    - "mvn clean package -B -Dmaven.test.skip=false"
    - "ls -al"  
  artifacts:
        paths:
        - "rates-backend/target/rates-backend-1.0-SNAPSHOT.jar"      
  allow_failure: false


deliver:
  stage: deliver
  script: "echo Delivery started"
  only:
    - master
 