image: maven:3.3.9-jdk-8

stages:
  - build
  - deploy
  - deliver

services:
  - docker:dind  
  
cache:
  key: ${CI_BUILD_NAME}
  paths:
   - rates-backend/
   - rates-web/

maven-build:
  image: maven:3.3.9-jdk-8
  stage: build 
  script:    
    - "mvn clean package -B -Dmaven.test.skip=false"
    - "ls -al"  
  artifacts:
        paths:
        - "rates-backend/target/rates-backend-1.0-SNAPSHOT.jar"      
  allow_failure: false


deploy:
  stage: deploy
  script: "echo Delivery started"
  only:
    - master
    
deliver:
  stage: deliver
  script: "echo Delivery started"
  only:
    - master    
 