image: lwieske/java-8

services:
  - docker:dind

build:
  stage: build
  services:
    - mysql:latest
  script:
    - ls -al
    - yum -y install maven
    - mvn -version
  variables:
     MYSQL_DATABASE: root
     MYSQL_ROOT_PASSWORD: root