
image: docker:latest

stages:
  #- connect
  - build
  - deploy
  - deliver

services:
  - mysql:latest
  - docker:dind
  
variables:
  # Configure mysql environment variables (https://hub.docker.com/r/_/mysql/)
  MYSQL_DATABASE: root
  MYSQL_ROOT_PASSWORD: root
  DATABASE_URL: "jdbc:mysql://localhost:3306/rates"
  
cache:
  key: ${CI_BUILD_NAME}
  paths:
   - rates-backend/
   - rates-web/
   
docker-build:
  stage: build
  script:
   - "docker run --name rates-mysql -p 3306:3306 -e MYSQL_ROOT_PASSWORD=root -d mysql"
   - "docker exec -i rates-mysql mysql -uroot -proot -e create database rates"

maven-build:
  image: maven:3.3.9-jdk-8
  stage: build
  script:
    - "mvn clean package -B -Dmaven.test.skip=false"
    - "ls -al"  
  artifacts:
        paths:
        - "rates-backend/target/rates-backend-1.0-SNAPSHOT.jar"      
  allow_failure: false
  artifacts:
    paths:
      - target/*.jar
   
   
# connect:
#   image: mysql
#   script:
#     - echo "create database rates" | mysql -u root username -p root


deploy:
  stage: deploy
  script: "echo Deploy started"
  only:
    - master

deliver:
  stage: deliver
  script: "echo Delivery started"
  only:
    - master
 